In [4]:
## IMPORTAMOS LA LIBRERIA PANDAS.

import pandas as pda

pda.Series(np.random.randn(5))

NameError: name 'np' is not defined

In [2]:
## 1 Carga de data del .CSV

import sys
sys.path

['D:\\CERTIFIED BIG DATA DEVELOPER\\2020-01-31_Python',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\LENOVO\\.ipython']

In [6]:
data = pda.read_csv('D:\\CERTIFIED BIG DATA DEVELOPER\\2020-01-31_Python/ChurnTrain.csv', sep=',')
data

,Tamano_cuenta,Plan_Inter,Plan_Voz,Num_Mensajes,Total_min_dia,Total_llama_dia,Total_cargas_dia,Total_min_manana,Total_llama_manana,Total_carga_manana,Total_min_noche,Total_llama_noche,Total_carga_noche,Total_min_Inter,Total_llama_Inter,Total_carga_Inter,Reclamos,churn
0,128,0.0,1.0,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1,no
1,107,0.0,1.0,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1,no
2,137,0.0,0.0,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0,no
3,84,1.0,0.0,0.0,299.4,71.0,50.90,NaN,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2,no
4,75,1.0,0.0,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,0.0,1.0,36.0,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6.0,2.67,2,no
3329,68,0.0,0.0,0.0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4.0,2.59,3,no
3330,28,0.0,0.0,0.0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6.0,3.81,2,no
3331,184,1.0,0.0,0.0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10.0,1.35,2,no
3332,74,0.0,1.0,25.0,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4.0,3.70,0,no

In [12]:
## 2 .... ESTRUCTURA


type(data) 


data.dtypes

Tamano_cuenta           int64
Plan_Inter            float64
Plan_Voz              float64
Num_Mensajes          float64
Total_min_dia         float64
Total_llama_dia       float64
Total_cargas_dia      float64
Total_min_manana      float64
Total_llama_manana    float64
Total_carga_manana    float64
Total_min_noche       float64
Total_llama_noche     float64
Total_carga_noche     float64
Total_min_Inter       float64
Total_llama_Inter     float64
Total_carga_Inter     float64
Reclamos                int64
churn                  object
dtype: object

In [14]:
## 2 .... DIMENSION
data.shape

(3333, 18)

In [16]:
## 2 .... DESCRIPCION (RESUMEN)


data.describe().round(2)

,Tamano_cuenta,Plan_Inter,Plan_Voz,Num_Mensajes,Total_min_dia,Total_llama_dia,Total_cargas_dia,Total_min_manana,Total_llama_manana,Total_carga_manana,Total_min_noche,Total_llama_noche,Total_carga_noche,Total_min_Inter,Total_llama_Inter,Total_carga_Inter,Reclamos
count,3333.00,3331.0,3330.00,3332.00,3330.00,3330.00,3330.00,3331.00,3331.00,3333.00,3329.00,3332.00,3330.00,3330.00,3331.00,3333.00,3333.00
mean,101.06,0.1,0.28,8.10,179.76,100.44,30.56,201.00,100.11,17.08,200.89,100.11,9.04,10.24,4.48,2.76,1.56
std,39.82,0.3,0.45,13.69,54.47,20.07,9.26,50.66,19.93,4.31,50.59,19.57,2.28,2.79,2.46,0.75,1.32
min,1.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.20,33.00,1.04,0.00,0.00,0.00,0.00
25%,74.00,0.0,0.00,0.00,143.70,87.00,24.42,166.60,87.00,14.16,167.10,87.00,7.52,8.50,3.00,2.30,1.00
50%,101.00,0.0,0.00,0.00,179.40,101.00,30.50,201.40,100.00,17.12,201.20,100.00,9.06,10.30,4.00,2.78,1.00
75%,127.00,0.0,1.00,20.00,216.38,114.00,36.81,235.30,114.00,20.00,235.40,113.00,10.59,12.10,6.00,3.27,2.00
max,243.00,1.0,1.00,51.00,350.80,165.00,59.64,363.70,170.00,30.91,395.00,175.00,17.77,20.00,20.00,5.40,9.00

In [24]:
# 3. TRANSFORMAR A CADENA

data['Plan_Inter'] = data['Plan_Inter'].astype(str)
data['Plan_Inter']

0       0.0
1       0.0
2       0.0
3       1.0
4       1.0
       ...
3328    0.0
3329    0.0
3330    0.0
3331    1.0
3332    0.0
Name: Plan_Inter, Length: 3333, dtype: object

In [26]:
data['Plan_Voz'] = data['Plan_Voz'].astype(str)
data['Plan_Voz']

0       1.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
3328    1.0
3329    0.0
3330    0.0
3331    0.0
3332    1.0
Name: Plan_Voz, Length: 3333, dtype: object

In [28]:
data['Reclamos'] = data['Reclamos'].astype(str)
data['Reclamos']

0       1
1       1
2       0
3       2
4       3
       ..
3328    2
3329    3
3330    2
3331    2
3332    0
Name: Reclamos, Length: 3333, dtype: object

In [33]:
# 5. PROMEDIO DE COLUMNAS

data.mean()

Tamano_cuenta         101.064806
Num_Mensajes            8.095138
Total_min_dia         179.763514
Total_llama_dia       100.442943
Total_cargas_dia       30.560201
Total_min_manana      201.003062
Total_llama_manana    100.111378
Total_carga_manana     17.083540
Total_min_noche       200.889637
Total_llama_noche     100.108043
Total_carga_noche       9.040165
Total_min_Inter        10.236486
Total_llama_Inter       4.478235
Total_carga_Inter       2.764581
Reclamos                     inf
dtype: float64

In [35]:
## REEMPLAZAMOS NAN CON EL PROMEDIO MEAN
data.fillna(data.mean())

,Tamano_cuenta,Plan_Inter,Plan_Voz,Num_Mensajes,Total_min_dia,Total_llama_dia,Total_cargas_dia,Total_min_manana,Total_llama_manana,Total_carga_manana,Total_min_noche,Total_llama_noche,Total_carga_noche,Total_min_Inter,Total_llama_Inter,Total_carga_Inter,Reclamos,churn
0,128,0.0,1.0,25.0,265.1,110.0,45.07,197.400000,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1,no
1,107,0.0,1.0,26.0,161.6,123.0,27.47,195.500000,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1,no
2,137,0.0,0.0,0.0,243.4,114.0,41.38,121.200000,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0,no
3,84,1.0,0.0,0.0,299.4,71.0,50.90,201.003062,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2,no
4,75,1.0,0.0,0.0,166.7,113.0,28.34,148.300000,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,0.0,1.0,36.0,156.2,77.0,26.55,215.500000,126.0,18.32,279.1,83.0,12.56,9.9,6.0,2.67,2,no
3329,68,0.0,0.0,0.0,231.1,57.0,39.29,153.400000,55.0,13.04,191.3,123.0,8.61,9.6,4.0,2.59,3,no
3330,28,0.0,0.0,0.0,180.8,109.0,30.74,288.800000,58.0,24.55,191.9,91.0,8.64,14.1,6.0,3.81,2,no
3331,184,1.0,0.0,0.0,213.8,105.0,36.35,159.600000,84.0,13.57,139.2,137.0,6.26,5.0,10.0,1.35,2,no
3332,74,0.0,1.0,25.0,234.4,113.0,39.85,265.900000,82.0,22.60,241.4,77.0,10.86,13.7,4.0,3.70,0,no

In [36]:
##DATA CON NANS
data

,Tamano_cuenta,Plan_Inter,Plan_Voz,Num_Mensajes,Total_min_dia,Total_llama_dia,Total_cargas_dia,Total_min_manana,Total_llama_manana,Total_carga_manana,Total_min_noche,Total_llama_noche,Total_carga_noche,Total_min_Inter,Total_llama_Inter,Total_carga_Inter,Reclamos,churn
0,128,0.0,1.0,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1,no
1,107,0.0,1.0,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1,no
2,137,0.0,0.0,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0,no
3,84,1.0,0.0,0.0,299.4,71.0,50.90,NaN,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2,no
4,75,1.0,0.0,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,0.0,1.0,36.0,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6.0,2.67,2,no
3329,68,0.0,0.0,0.0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4.0,2.59,3,no
3330,28,0.0,0.0,0.0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6.0,3.81,2,no
3331,184,1.0,0.0,0.0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10.0,1.35,2,no
3332,74,0.0,1.0,25.0,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4.0,3.70,0,no